Software/Node-Red/ComunicacionBaseDatos.json
[
    {
        "id": "c22459c1fa6f3f6e",
        "type": "tab",
        "label": "Flow 6",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "f497cd207d65c1fa",
        "type": "function",
        "z": "c22459c1fa6f3f6e",
        "name": "function 5",
        "func": "let data = msg.payload;\n\nmsg.payload = {\n    gas: String(data.gas),\n    presion: String(data.presion),\n    temperatura: String(data.temperatura)\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "d8a05ed421cd2443",
                "a705505d51d714bd"
            ]
        ]
    },
    {
        "id": "ba3785c1fcaf7695",
        "type": "mqtt in",
        "z": "c22459c1fa6f3f6e",
        "name": "",
        "topic": "GasHJ2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cd595de967ee59c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "f497cd207d65c1fa",
                "eee3bf5cebada9f5"
            ]
        ]
    },
    {
        "id": "d8a05ed421cd2443",
        "type": "mqtt out",
        "z": "c22459c1fa6f3f6e",
        "name": "",
        "topic": "integrador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd595de967ee59c0",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "eee3bf5cebada9f5",
        "type": "debug",
        "z": "c22459c1fa6f3f6e",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "a705505d51d714bd",
        "type": "debug",
        "z": "c22459c1fa6f3f6e",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "cd595de967ee59c0",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]