Software/Node-Red/dash.json
[
    {
        "id": "510ae24166e10963",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d0321f91ec7acbd",
        "type": "mqtt in",
        "z": "510ae24166e10963",
        "name": "",
        "topic": "GasHJ2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cd595de967ee59c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "a48ebe0d19cb7520"
            ]
        ]
    },
    {
        "id": "a48ebe0d19cb7520",
        "type": "function",
        "z": "510ae24166e10963",
        "name": "function 1",
        "func": "const msg1 = { \"payload\": msg.payload.gas };\nconst msg2= { \"payload\": msg.payload.presion };\nconst msg3 = { \"payload\": msg.payload.temperatura };\n\n\nreturn [msg1, msg2, msg3];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "a6b0edad076a0936"
            ],
            [
                "eb7e60a0dd86859b"
            ],
            [
                "d6588a1076497de3"
            ]
        ]
    },
    {
        "id": "d6588a1076497de3",
        "type": "ui_gauge",
        "z": "510ae24166e10963",
        "name": "",
        "group": "dbc91448b9571147",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temp",
        "label": "Grados C",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "eb7e60a0dd86859b",
        "type": "ui_chart",
        "z": "510ae24166e10963",
        "name": "",
        "group": "dbc91448b9571147",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "presion",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a6b0edad076a0936",
        "type": "ui_chart",
        "z": "510ae24166e10963",
        "name": "",
        "group": "dbc91448b9571147",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Gas",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cd595de967ee59c0",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dbc91448b9571147",
        "type": "ui_group",
        "name": "sensores_PI",
        "tab": "10ce4b692d96e943",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10ce4b692d96e943",
        "type": "ui_tab",
        "name": "Proyecto_Integrador6",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]